/* ROOT */
:root{
  --hard-black:#050505;
  --hard-red:#961724;
  --light-red:#B91031;
  --hard-grey: #111111;
  --light-grey:#AABBBB;
}

/* !!!!!!!!!!!!!!!!!!!! */
.bg-red{
  background-color: var(--hard-red);
}
.featured_audi{
  max-width: 80%;
}
.featured_engine{
  max-width: 60%;
}

/* TAGS */
body{
  background-color: var(--hard-black);
  color: white;
}
nav{
  background-color: var(--hard-black);
}
nav .navbar_logo{
  width: 60px;
  height: 50px;
}
p{
  color: var(--light-grey);
}
a{
  text-decoration: none;
  color: inherit;
}
a:hover{
  color: var(--light-red);
}
input,
textarea,
.input-group-text{
  background-color: var(--hard-grey) !important;
  color: white !important;
  border: none !important;
}
input:invalid, textarea:invalid {
  background-color: var(--light-red) !important;
  color: white !important;
  border: none !important;
}

/* UNIQUE ID */
#featured{
  /* background-image: url('/works/work (11).jpg');
  background-position: center;
  background-size:cover; 
  min-height: 50vh;
  max-height: 80vh; */
}
#social{
  background-image: url('/hive.jpg');
  background-position: center;
  background-size: cover;
}
#a-distance{
  background-color: var(--hard-red);
}
.featured-carousel-item{
  min-height: 50vh;
  height: 100vh;
  background-position: center;
  background-size: cover;
}
/* CARD */
.card{
  background-color: transparent;
}
/* TITLE */
h1, h2, h3, h4, h5, h6{
  font-weight: 700;
}
.title-big{
  size: 2.2rem;
}
.title-medium{
  size: 2rem;
}
.title-small{
  
}
/* ICONS */
.icon-big{
  font-size: 7rem;
  font-weight: 700;
}
.icon-medium{
  font-size: 4rem;
  font-weight: 700;
}
.icon-small{
  font-size: 2rem;
  font-weight: 700;
}
.icon-rounded{
  padding: 0.5rem;
  border-radius: 50%;
}
.icon-rounded-light-red{
  background-color: var(--light-red);
  color: white;
  border: none;
}
/* FONTS COLOR */
.font-black{
  color: var(--hard-black);
}
.font-red{
  color: var(--hard-red);
}
.font-grey{
  color: var(--hard-grey);
}
/* BACKGROUND */
.bg-black{
  background-color: var(--hard-black);
}
.bg-red{
  background-color: var(--hard-red);
}
.bg-grey{
  background-color: var(--hard-grey);
}
.bg-light-grey{
  background-color: var(--light-grey);
}
/* BUTTON */
.btn:hover{
  transform: scale(1.2) !important;
}
.btn-red{
  background-color: var(--hard-red) !important;
  border: none;
  color: white;
}
.btn-red:hover{
  color: white !important;
}
/* CAROUSEL */
.carousel-item{
  background-position: center !important;
  background-size: cover !important;
}